<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>front_page</title>

  
  
  <style>
.butt {
    border: 1px outset blue;
    background-color: lightBlue;
    height:50px;
    width:100px;
    cursor:pointer;
}

.butt:hover {
   background-color: blue;
    color:white;
}
  </style>
</head><body>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<p style="margin-bottom: 0cm; font-style: normal; font-weight: normal; line-height: 0.35cm; orphans: 2; widows: 2; text-decoration: none;" align="center"><span style="color: rgb(0, 0, 0);"><span style="font-family: FreeSans,serif;"><span style="font-size: x-large;"><span style="font-family: Calibri,serif;"><span style="letter-spacing: normal;"><em>making evidence accessible:</em></span></span></span></span></span>
<br>
</p>

<h1 align="center"><em><strong>systematic map of systematic reviews for
low carbon built environment</strong></em>&nbsp;</h1>

<p align="center">&nbsp;</p>

<h3 style="margin-bottom: 0cm; font-style: normal; font-weight: normal; line-height: 0.5cm; orphans: 2; widows: 2; text-decoration: none;" align="center"><span style="color: rgb(0, 0, 0);"><span style="font-family: FreeSans,serif;"><span style="font-size: x-large;"><span style="font-family: Calibri,serif;"><span style="font-size: large;"><span style="letter-spacing: normal;"><em><span style="font-weight: normal;">we
aim to make high-level high-quality evidence discoverable to the
decision-makers, researchers and the public</span></em></span></span></span></span></span></span>&nbsp;</h3>

<p style="margin-bottom: 0cm; font-style: normal; font-weight: normal; line-height: 0.5cm; orphans: 2; widows: 2; text-decoration: none;" align="center">&nbsp;</p>

<h2 style="text-align: center;">this evidence collection identifies
high-level evidence syntheses on various topics related to low carbon
living in the built environment <br>
</h2>
&nbsp;
<br>

<p style="margin-bottom: 0cm; font-style: normal; font-weight: normal; line-height: 0.35cm; orphans: 2; widows: 2; text-decoration: none;" align="center"><span style="color: rgb(0, 0, 0);"><span style="font-family: FreeSans,serif;"><span style="font-size: x-large;"><span style="font-family: Calibri,serif;"><span style="letter-spacing: normal;">you can access our collection via:</span></span></span></span></span></p>

<p style="margin-bottom: 0cm; font-style: normal; font-weight: normal; line-height: 0.35cm; orphans: 2; widows: 2; text-decoration: none;" align="center"><br>
</p>

<table style="text-align: left; width: 530px; height: 100px; margin-left: auto; margin-right: auto;" border="0" cellpadding="2" cellspacing="2">

  <tbody>
    <tr>
      <td style="vertical-align: middle; text-align: center; height: 100px; width: 150px;">the database <br>
synthesizing the <br>
collected literature<br>
      </td>
      <td style="vertical-align: middle; text-align: center; height: 100px; width: 100px;">
      <div style="text-align: center;"><input name="list_of_reviews" class="butt" value="List of reviews" type="button"></div>
</td>
      <td style="vertical-align: top; height: 100px; width: 30px;"><br>
      </td>
<td style="vertical-align: middle; height: 100px; width: 100px;">
      <div style="text-align: center;"><input class="butt" value="test" type="button"></div>

      </td>
      <td style="vertical-align: middle; text-align: center; height: 100px; width: 150px;">online interactive<br>
 visualisations of <br>
the key database <br>
contents<br>
      </td>
    </tr>
  </tbody>
</table>

<p style="margin-bottom: 0cm; font-style: normal; font-weight: normal; line-height: 0.35cm; orphans: 2; widows: 2; text-decoration: none;" align="center">&nbsp;</p>
&nbsp;
<p style="margin-bottom: 0cm; font-style: normal; font-weight: normal; line-height: 0.35cm; orphans: 2; widows: 2; text-decoration: none;" align="center"><br>
</p>

<p style="margin-bottom: 0cm; font-style: normal; font-weight: normal; line-height: 0.35cm; orphans: 2; widows: 2; text-decoration: none;" align="center"><span style="color: rgb(0, 0, 0);"><span style="font-family: FreeSans,serif;"><span style="font-size: x-large;"><span style="font-family: Calibri,serif;"><span style="letter-spacing: normal;">to learn more about the project and
the map use the following links:</span></span></span></span></span></p>

<p style="margin-bottom: 0cm;" align="center">&nbsp;</p>

<p style="margin-bottom: 0cm;" align="center">&nbsp;</p>

<p style="margin-bottom: 0cm;" align="center">&nbsp;</p>

<p style="margin-bottom: 0cm;" align="center">&nbsp;</p>

<p style="margin-bottom: 0cm;" align="center">&nbsp;</p>

<p style="margin-bottom: 0cm; font-style: normal; font-weight: normal; line-height: 0.35cm; orphans: 2; widows: 2; text-decoration: none;" align="center"><span style="color: rgb(0, 0, 0);"><span style="font-family: FreeSans,serif;"><span style="font-size: x-large;"><span style="font-family: Calibri,serif;"><span style="font-size: small;"><span style="letter-spacing: normal;"><em>Project SP0008e1: Developing a
Methodology for Systematic Review and Establishing Synthesis
Methodology in Built EnvironmentTowards Evidence-Based Practice and
Policy. Funded by was funded by CRC for Low Carbon Living, Australia</em></span></span></span></span></span></span></p>

</body></html>